<div class="main-wrapper d-flex">
    <div class="sidebar__container">
        <a href="/" class="heading-link">
            <h2 class="heading">Read environmental news<br><span class="fw-bold">&amp;
                    say something</span><br>about it</h2>
        </a>
        <div class="" id="all-articles"></div>
        {{!-- <a href="#" class="scrape-button__mini"></a> --}}
    </div>
    <div class="body__container">
        <div class="article__container">
            <div class="new-scrape__screen">
                <div class="">
                    <h2 class="text-center">Click on a Link to See the Article</h2>
                    <h3 class="text-center"><em>Don't forget to leave a comment</em></h3>
                    <a href="#" id="make-scrape" class="btn btn-lg btn-primary btn-block mt-3">Get new Articles</a>
                </div>
            </div>
            <div class="" id="article-preview"></div>
        </div>
    </div>
</div>